# WEIT x DataStation Team Mission 1.

- 아래의 15개의 미션을 제출 기간 내 수행하시면 됩니다. / 개별 제출
- 첫 5개 미션은 개인 스스로 풀어보고, 나머지 미션은 팀원들과 같이 풀어보세요.
- Chat GPT + 교재 + 팀스터디 모두 활용하여 풀어보시길 바랍니다.
- 미션 미제출시, 수료증 발급에 제한이 될 수 있습니다.

  
  
- **기한 : 23년 11월 15일 23시 59분까지 / 이후 제출 절대 인정 불가**
- **양식 :**
    - 제목 : "위아이티4기_팀명_이름_Mission1"
    - 첨부파일 : 해당 Mission 파일
    - 개별 제출 --> woghkszhf@naver.com <--

**1. 자료구조 Dictionary를 이용하여, if 문 없이 연도를 입력했을 때 윤년/평년을 판별하여 출력하는 프로그램을 생성하시오.**

In [5]:
year = int(input())
ans = { True: '평년', False: '윤년' }
_year_dic = dict()
_year_dic['4'] = year % 4 == 0
_year_dic['100'] = year % 100 == 0
_year_dic['400'] = year % 400 == 0
isLeaf = _year_dic['4'] == False or (_year_dic['4'] and _year_dic['100'] and _year_dic['400'] == False)
print(ans[isLeaf])

2022
평년

**2. 키와 몸무게를 입력받아 BMI 수치를 계산하는 프로그램을 제작하고, 새로운 값을 입력할 때마다, result_list에 결과를 추가하시오.**

* 조건 : 새로운 값을 입력 할 때 마다 기존의 데이터가 삭제되지 않고 추가되어야 합니다.

![image.png](attachment:image.png)

In [1]:
result_list = [ ]

In [17]:
result_list = []
height = int(input("키를 입력 하시오:"))
weight = int(input("몸무게를 입력 하시오:"))
height /=100
bmi = weight/height**2
result_list.append(bmi)
print(result_list)

KeyboardInterrupt: ignored

**3. A 학생의 과목별 점수가 아래와 같을 때, 이 점수를 딕셔너리 형태로 선언하고, 평균을 계산하오**

* A : 국어 75, 영어 53, 수학 90, 사회 46, 한국사 60, 세계사 70, 과학, 34
* 과목명은 Key값, 점수는 Value 값

In [10]:
grades = {"국어": 75,"영어": 53,"수학": 90,"사회": 46,"한국사": 60,"세계사": 70,"과학": 34}
total = sum(grades.values())
mean = total/len(grades)
print('평균은 %.2f입니다.'%(mean))

SyntaxError: ignored

**4. 어떤 수를 입력했을 때, 입력한 수가 홀수이면 True, 짝수이면 False를 출력하는 프로그램을 제작하시오**

* if문을 사용 하지 않고 제작

In [7]:
a = int(input('숫자를 입력하시오. :'))
is_odd = (a % 2 != 0)
print(is_odd)

숫자를 입력하시오. :4
False

**5. For 반복문을 이용하여, 1부터 입력받은 수 까지 제곱 합을 구하는 프로그램을 만드시오.**

Ex ) 1² + 2² + 3² + 4² + ...  + n²

In [16]:
def num(a):
    result = 0
    for i in range(1,a+1):
        result += i **2
    print(result)

a = int(input('숫자를 입력하시오.'))
num(a)

숫자를 입력하시오.50
42925

## Team Mission

- 사무용품을 렌탈해주는 회사에서 발생한 데이터(01_Data.csv)파일을 분석하고자 합니다.
- Excel, R, SPSS등 다른 프로그램은 사용 하지 않고, 오르지 Python으로 아래의 문제를 해결해 보세요.

**6. 데이터 파일을 df1 변수로 선언하고, 데이터의 열개수와 행개수를 계산하시오.**

In [41]:
import pandas as pd
df1= pd.read_csv('01_Data.csv')

In [42]:
# count raw
print(df1.shape)

(51301, 20)

**7. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.**

In [47]:
df1.value_counts('Channel').idxmax()

'영업방판'

**8. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.**

In [53]:
x = df1.value_counts('Product_Type').idxmax()
df1[df1['Product_Type'] == x]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51293,51295,66799369,렌탈,일반계약,대형마트A,2020-07-10,60,CMS,DES-1,96900,개인,74.0,경기도,경기도,계약확정,0,없음,여자,1.0,국민은행
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2019-03-11,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

**9. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오.**

In [57]:
len(df1[df1['Bank'] == '신한카드'])

1532

**10. 데이터에서 고객들이 월별로 지출하는, 월랜탈비용(Amount_Month)를 분석하고자 한다. 월랜탈비용(Amount_Month)과 계약기간(Term)을 곱하여, 한명의 고객이 지불하는 총 계약금액을 계산하고, 새로운 파생변수로 (Total_Amount)로 선언 하시오.**

In [58]:
df1['Total_Amount'] = df1['Amount_Month'] * df1['Term']

**11. 유입경로(Channel)에서 '영업방판'으로 유입된 고객들을 분석하고자 한다.'영업방판'으로 유입된 고객들의 월랜탈비용(Amount_Month)의 평균(mean)과 중앙값(median)의 차이를 계산 하시오.**

In [65]:
print(df1[df1['Channel'] == '영업방판']['Amount_Month'].mean() - df1[df1['Channel'] == '영업방판']['Amount_Month'].median())

3422.794631211349

**12. 유입경로(Channel)에서 '영업방판'으로 유입된 고객들 중, 제품군(Product_Type) 별 월랜탈비용(Amount_Month)의 합(sum)을 계산하여 result3.xlsx 파일로 저장하시오.**

In [68]:
result3=df1[df1['Channel'] == '영업방판'].groupby('Product_Type')['Amount_Month'].sum()
result3.to_excel('result3.xlsx')

**13. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.**

In [74]:
result4= df1[df1['Channel'] == '대형마트A']['Overdue_count'].sort_values(ascending=False).head(30)
result4.to_excel('result4.xlsx')

**14. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.**

In [84]:
cond1 = df1['Amount_Month']>=150000
cond2 = df1['Sales_Type']=='렌탈'
df1[cond1 & cond2].shape[0]

141

**15. 제품군(Product_Type)중 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.**

In [117]:
df2 = df1[df1['Product_Type'].isin(df1['Product_Type'].value_counts().index[:3])]

result5 = df2.groupby('Datetime')['Amount_Month'].sum()
result5.to_excel('result5.xlsx')

**수고많으셨습니다♥**