# Mission 2

- 첨부된 데이터는 다이어트 식품을 판매하는 어플리케이션 회사에서 나온 고객 결제 데이터 입니다. 고객들이 온라인 마케팅으로 유입된 채널에 따라, 결제를 완료한 고객도 있고, 유입이 되었으나 이탈한 고객도 있습니다. 이 데이터로 아래의 미션을 수행보세요.  
- 먼저 개인적으로 풀어본 다음, 팀별로 모여 문제를 풀어보세요.
- Chat GPT와 책, 유튜브 등 여러 자료를 활용하여 최대한 풀어보세요.
- 기한 : 2023년 11/30 23:59 까지
- 제출처 : woghkszhf@naver.com

### 1. 02_Data.csv파일을 불러와, df1으로 선언하고 데이터의 구조와 타입을 확인하시오.

In [3]:
import pandas as pd
df1 = pd.read_csv('미션2_데이터.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원코드        10000 non-null  object
 1   프로그램        10000 non-null  object
 2   상태          10000 non-null  object
 3   프로그램가격      10000 non-null  int64
 4   최종결제금액      10000 non-null  int64
 5   결제시각        10000 non-null  object
 6   결제유형        10000 non-null  object
 7   채널          10000 non-null  object
 8   보조식품가격      10000 non-null  int64
 9   보조식품(추가구매)  10000 non-null  object
dtypes: int64(3), object(7)
memory usage: 781.4+ KB

### 2. '프로그램가격'의 평균, 최대값, 최소값을 확인하시오.

In [9]:
print('평균:',df1['프로그램가격'].mean())
print('최대값:',df1['프로그램가격'].max())
print('최소값:',df1['프로그램가격'].min())

평균: 107778.024
최대값: 177000
최소값: 44780

### 3. '채널'의 항목과 빈도수를 확인하고, '채널'별 '최종결제금액'의 합을 계산하여, result1.xlsx로 저장하시오.

In [117]:
print(df1['채널'].value_counts())
result1 = total_payment_by_channel = df1.groupby('채널')['최종결제금액'].sum()
result1.to_excel('result1.xlsx')

facebook     6880
others       1390
naver        1009
direct        297
email         271
google        120
instagram      33
Name: 채널, dtype: int64

### 4. '채널'의 빈도수가 높은 상위 3개 항목을 뽑아, 해당 데이터의 '보조식품(추가구매)'에 따른 '최종결제금액'의 합과 평균을 계산하시오.

In [114]:
indexs = df1['채널'].value_counts()[:3].index
df2 = df1[df1['채널'].isin(indexs)]
print('합:',sum(df2['최종결제금액']))
print('평균',(df2['최종결제금액']).mean())

합: 1085977900
평균 117036.09225132018

### 5. '결제시각'데이터에서 날짜와 시간데이터를 나누어 데이터만 뽑아, '결제날짜'와 '결제시간'파생변수로 각각 선언하시오.

In [ ]:
for i in range(len(df1)):
  df1['결제날짜'][i]=df1['결제시각'][i][:10]
  df1['결제시간'][i]=df1['결제시각'][i][11:]

In [104]:
df1

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),결제날짜,결제시간
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 오후 7:03:29.976000,Recurring,others,0,구매안함,2017-04-14,오후 7:03:29.976000
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 오후 8:53:54.368000,Recurring,others,0,구매안함,2017-05-23,오후 8:53:54.368000
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 오후 11:39:21.840000,Recurring,facebook,17000,식이요법보조제A,2017-08-23,오후 11:39:21.840000
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 오후 8:18:22.824000,Recurring,naver,0,구매안함,2017-08-28,오후 8:18:22.824000
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 오후 5:50:30.944000,Recurring,facebook,0,구매안함,2017-05-07,오후 5:50:30.944000
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,118AFCQ9,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-18 오전 12:43:58.104000,Recurring,facebook,0,구매안함,2017-04-18,오전 12:43:58.104000
9996,VDE8FXV9,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-16 오전 10:03:10.136000,Recurring,facebook,17000,식이요법보조제A,2017-08-16,오전 10:03:10.136000
9997,VWJ4NLZY,체중감량 프로그램 (타입 A),completed,112500,129500,2017-08-09 오전 11:47:55.408000,Recurring,facebook,17000,식이요법보조제A,2017-08-09,오전 11:47:55.408000
9998,NJ2PR967,체중감량 프로그램 (타입B),cancelled,112500,129500,2017-04-28 오전 7:05:19.776000,Recurring,facebook,0,구매안함,2017-04-28,오전 7:05:19.776000
9999,KVX64CPM,체중감량 프로그램 (타입 A),cancelled,112500,112500,2017-06-02 오전 10:16:34.576000,Recurring,others,0,구매안함,2017-06-02,오전 10:16:34.576000

### 6. 앞서 추출된 '결제날짜'데이터를 이용하여, '연도' / '월' / '일' 데이터를 추출하시오.

In [ ]:
df1['결제날짜'] = pd.to_datetime(df1['결제날짜'])
print('연도:\n',df1['결제날짜'].dt.year,'월:\n', df1['결제날짜'].dt.month, '일:\n',df1['결제날짜'].dt.day)

### 7. 결제 '월'별 '최종결제금액'의 합을 계산하시오.

In [103]:
df1['최종결제금액'].groupby(df1['결제날짜'].dt.month).sum()

결제날짜
3     67579200
4    133340640
5    185577300
6    203945100
7    178364700
8    395389300
Name: 최종결제금액, dtype: int64

### 8. '최종결제금액'이 높은 30명의 고객 명단을 추출하여, result2.xlsx로 선언하시오.

In [128]:
df1 = df1.sort_values('최종결제금액', ascending=False)
df1[:30].to_excel('result2.xlsx')

### 9. '상태'가 completed에 해당하는 데이터만 뽑아, '채널'별 '최종결제금액'의 합을 계산하시오.

In [115]:
df1_data = df1[df1['상태'] == 'completed']
total_payment_by_channel = df1.groupby('채널')['최종결제금액'].sum()
print(total_payment_by_channel)

채널
direct        31337160
email         30655080
facebook     825136460
google        12663480
instagram      3562620
naver        111491750
others       149349690
Name: 최종결제금액, dtype: int64